<h1>Olá HandleBars!</h1>
<p>O nome do usuario é {{user.name}} {{user.surName}}</p>
<h2>{{palavra}}</h2>
{{#if approved}}
    <p>Parabéms {{user.name}}, seu cadastro foi realizado com sucesso!</p>
{{else}}
    <p>Infelizmente voce não foi aprovado no sistema, favor realizar nova solicitação</p>
{{/if}}
{{#if auth}}
    <p>Clique <a href="/dashboard">clique aqui</a> para area vip</p>
{{/if}}